body {
	font-family: monospace;
	margin: 0;
}

body>nav {
	color: #ffffff;
	background-color: #222222;
}

body>nav a {
	display: inline-block;
	padding: 1em;
	color: #ffffff;
	text-decoration: none;		
}

body>nav a:hover {
	background-color: #00ff00;
	color: #000000;	
}

body>div {
	display: inline-block;
	box-sizing: border-box;
	padding: 1em;
	width: 33.3%;
	vertical-align: top;
}

h1, h2, h3 {
	text-align: center;
}
