body {
	background-color: #002255;
	font-family: monospace;
	margin: 0;
}

h1 {
	text-align: center;
	font-style: italic;
	color: white;
}

table { 
	margin-left: auto;
	margin-right: auto;
}

td {
	text-align: center;
	padding: 15px;
}

img {
	border: 7px solid black;
}

p {
	text-align: center;
	font-family: sans-serif;
	color: white;
}

body>nav {
	color: #ffffff;
	background-color: #222222;
}

body>nav a {
	display: inline-block;
	padding: 1em;
	color: #ffffff;
	text-decoration: none;		
}

body>nav a:hover {
	background-color: #00ff00;
	color: #000000;	
}
